  #services{
    flex-direction: column;

  }
#clients{
    overflow: hidden;
    flex-wrap: wrap;
}
#home{
    height: 280px;
    padding: 3px 68px;

}

#home::before{
    height: 480spx;
}
#home p{
    font-size: 13px;
}
#navbar{
    flex-direction: column;

}
.hprimary{
    font-size: 25px;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;

}
.btn{
    font-size: 13px;
    padding: 4px 8px ;
}